@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:400,500,600');


.tittle{
  color: rgb(151,41,42);
  font-size: 1.8em;
  text-align: center;
  font-family: 'Barlow Semi Condensed', sans-serif;
  weight: 600;
}
.info{
  font-size: 1.3em;
  font-family: 'Barlow Semi Condensed', sans-serif;
  weight: 400;
}

.info{

}
#historyList{
  margin-top: 5vh;
  width: 96vw;
  text-align: center;
}
.icon{
  width: 1%;
margin-left: 1%;
margin-top: 5px;
  position: absolute;
}
li{
  list-style-type: none;
}
