@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:400,500,600');


.dialog h3{
  color: rgb(151,41,42) !important;
  font-size: 1.8em;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 600;
}
.dialog h2{
  font-size: 1.3em;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 400;
}
.info{
  font-size: 1.3em;
  font-family: 'Barlow Semi Condensed', sans-serif;
  weight: 400;
}
.redo {
  width: 15px;
  height: 15px;
  cursor: pointer;
}
li{
  list-style-type: none;
}
