@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed');

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 26px;
  height: 20px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: rgb(151,41,42);
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background-color: rgb(254,254,254);
  padding: 1.6em 1em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #ffffff;
  padding: 0.8em;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.4);
}

#photo{
  width: 60px;
  height: 60px;
  background-color: #000000;
}

.menu-item{
  color: rgb(151,41,42);
  text-decoration: none;
  font-size: 1.1em;
  padding-top: 4%;
  font-family: 'Barlow Semi Condensed', sans-serif;
}


#username{
  color: rgb(0,0,0);
  text-decoration: none;
  font-size: 1.2em;
  margin-top: 3%;
  margin-top: 8%;
  font-family: 'Barlow Semi Condensed', sans-serif;
}
