
@media (max-width: 1072px) {
  .searchInput:first-child {
  margin-left: 12vw;
  }
}

@media (max-width: 770px) {
  .searchButton {
    margin-left: 42vw;
  }

}

@media (max-width: 650px) {
  .searchInput:first-child {
    margin-top: 2vw;
    margin-left: 10vw;
  }
}

@media (max-width: 400px) {
  .searchInput:first-child {
    margin-top: 2vw;
    margin-left: 10vw;
  }
  .searchButton {
    margin-left: 36vw;
  }
  .map-container{
    height: 68vh;
    margin-top: 2vh;
  }
}

// height
@media (max-height: 730px) {
  #login{
    margin-top: 30vh;
  }

}
@media (max-height: 630px) {
  #login{
    margin-top: 16vh;
  }
  .my-facebook-button-class, .google-login{
    height: 6vh;
  }
}
