
@media (max-width: 1072px) {
  .searchInput:first-child {
  margin-left: 12vw;
  }
  .icon{
    width: 1.5% !important;
  }
}

@media (max-width: 770px) {
  .searchButton {
    margin-left: 42vw;
  }

}

@media (max-width: 650px) {
  .searchInput:first-child {
    margin-top: 2vw;
    margin-left: 10vw;
  }
}

@media (max-width: 400px) {
  .searchInput:first-child {
    margin-top: 2vw;
    margin-left: 10vw;
  }
  .searchButton {
    margin-left: 36vw;
  }
  .map-container{
    height: 68vh;
    margin-top: 2vh;
  }
  .icon{
    width: 5% !important;
    padding-left: 2%;
  }
  .info{
    font-size: 1.1em !important;
  }
  #historyList{
    padding: 0;
  }
}

// height
@media (max-height: 730px) {
  #login{
    margin-top: 40vh;
  }

}
@media (max-height: 670px) {
  #login{
    margin-top: 50vh;
  }
  .my-facebook-button-class, .google-login{
    height: 5vh;
  }
}
