.searchButton {
margin-top: 3vw;
}

.searchInput:first-child {
margin-left: 32vw;
}

.searchInput {
margin-left: 2vw;
}

.searchButton {
margin-left: 2vw;
}
.searchButton button {
background-color: rgb(151,41,42) !important;
}

.navigationButton {
width: 3%;
margin-left: 6vw;
box-shadow: none !important;
}

.navigationButton span {
  color: rgb(151,41,42) !important;
  font-size: 27px !important;

}
.navigationButton button {
background-color: rgb(254,254,254) !important;

}

.fav{
  height: 2.4vh;
}
