.searchButton {
margin-top: 3vw;
}

.searchInput:first-child {
margin-left: 24vw;
}

.searchInput {
margin-left: 10vw;
}

.searchButton {
margin-left: 10vw;
}
.searchButton button {
background-color: rgb(151,41,42) !important;
}
